__pycache__/
*.py[cod]
*$py.class
*.so
.env
*.egg-info/
dist/
build/
.eggs/
*.db
*.sqlite
*.sqlite3
node_modules/
frontend/dist/
frontend/build/
.pytest_cache/
*.egg
*.log
.venv/
venv/
*.ipynb_checkpoints/
chroma_db/
*.pt
*.pkl
